[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
shlex = { version = "1.3" }
anyhow = { workspace = true }
client = { path = "../client" }
tokio = { workspace = true }
